@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">thi si smy first .net push from thevisual studiop just for testing SAROJ</h1>
    <p>making another changes .</p>
</div>
